.menu {
  background-color: $color-gray;

  &__cross {
    grid-column:3 /-1;
  }

  &__content {
    height: 100vh;
    padding: $headerTopPadding 0;
    box-sizing: border-box;
  }

  &__top {
    margin-bottom: 48px;
  }

  &__list {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;

  }

  &__item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: $color-dark;
    text-decoration: none;

    &:hover {
     border-color: $color-dark;
     transition: border-color 0.5s;
    }
  }

  &__call {
    display: block;
    text-decoration: none;
    font-weight: 700;
    align-items: center;
    text-transform: uppercase;
    color: $color-dark;

    &--phone {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 27px;
    }

    &--action {
      font-size: 12px;
      width: max-content;
      letter-spacing: 2px;
      line-height: 16px;
      padding-bottom: 8px;
      border-bottom: 1px solid $color-dark;
    }
  }
}
