.page {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;

  &__body {
    background-color: $color-dark;
    margin: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
    }
  }

  &__section {
    color: #fff;
    letter-spacing: -1.5px;
    font-weight: 500;
    font-size: 32px;
  }

  &__section--title {

    text-align: center;
  }
}
