.page {
  font-family: 'Poppins', sans-serif;

  &__body {
    margin: 0;
  }
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 29px 23px 88px;
  height: 100vh;
  background-size: cover;
  background-position: right;
  background-image: url(../images/photo/main-cover-photo.png);

  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -1.5px;
    line-height: 100%;
  }

  &__phone-icon {
    display: block;
    width: 18px;
    height: 18px;
    background: url(../images/phone-icon.png) no-repeat;
  }

  &__menu-opener {
    margin-left: 30px;
    display: block;
    width: 18px;
    height: 12px;
    background-image: url(../images/menu.png);
  }

  &__menu-opener:hover {
    background-image: url(../images/menu-hover.png);
  }


}

.logo {
  display: flex;
  justify-content: center;
  &__image {
     height: 38px;
     width: 130px;
  }
}
